<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="CognitiveKey" value="e5255f4ac6864b6eb520bd46efb30ea1"/>
    <add key="Locale" value="en-US"/>
  </appSettings>
</configuration>